<div class="flex flex-col mb-6 last:mb-0">
    <span class="font-heading font-bold mb-1">{{title|raw}}</span>
    <a href="{{url|raw}}" class="no-underline flex items-center gap-3" download>
        <span class="font-iconRound text-primary text-2xl">download</span>
        <span>{{name|raw}}</span>
    </a>
</div>