{% if links %}
    <section>
        <div class="container">
            <div class="flex relative after:w-full after:bg-neutral-50 after:h-[1px] after:absolute after:bottom-[-1px] after:left-0">
                {% for anchor, link in links %}
                    <a href="#{{anchor}}" class="p-3 font-light font-heading relative after:w-full after:h-[1px] after:absolute after:bottom-[0px] after:left-0 after:translate-y-[1px] after:z-[1] hover:after:bg-[var(--primary-DEFAULT)] hover:text-[var(--primary-DEFAULT)]">{{link}}</a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
