<div class="content {{ content_small ? 'content--small' : '' }} {{ content_lead ? 'content--lead' : '' }} {{ content_single_lead ? 'content--single-lead' : '' }} {{ text_white ? 'text-white' : ''}}">
	{% include 'atoms/heading/sub-title.twig' %}
	{% if first_block %}
		{% include 'atoms/heading/h1.twig' with {class: title_class} %}
	{% elseif heading_type == 'h3' %}
		{% include 'atoms/heading/h3.twig' with {class: title_class} %}
	{% else %}
		{% include 'atoms/heading/h2.twig' with {class: title_class} %}
	{% endif %}
	{% include 'atoms/content.twig' %}
	{% include 'molecules/buttons.twig' with {button_classes} %}
</div>
