<div class="faqs flex flex-col w-full gap-6">
    {% for faq in faqs %}
        {% if faq.name and faq.content %}
    
            <div class="faq border-[1px] border-neutral-25 rounded-[2px] overflow-hidden transition-height duration-500">
                <div class="faq__title flex justify-between items-center flex-row p-3 pr-2">
                    
                    <h5 class="mb-0">{{faq.name}}</h5>

                    <div class="faq__button w-[48px] h-[48px] rounded-[2px] bg-secondary flex justify-center items-center cursor-pointer">
                        <span class="font-icon text-2xl text-white select-none transition-all">expand_more</span>
                    </div>
                </div>

                <div class="faq__content p-3 pr-2">
                    {{faq.content|raw}}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>