<div class="w-full py-6 px-7 border-[1px] border-neutral-25 rounded-[4px] shadow-contentcard sticky top-[156px]">

    {% include "atoms/heading/h5.twig" with {class:'mb-2'} %}

    <span class="mb-6 mt-2 block">{{article_number|raw}}</span>


    {% include "molecules/buttons.twig" %}

</div>