<article class="md:max-w-[261px] px-4 py-6 bg-white border border-neutral-25">
	<a href="{{ permalink }}" class="grid gap-3 no-underline">
		{% include 'molecules/image-card.twig' %}
		{% include 'atoms/heading/h2.twig' with {class: 'font-heading text-h6 m-0'} %}
	</a>
</article>
