{% if post %}
	<article class="flex flex-col md:grid grid-cols-4 gap-4 border border-secondary-light p-10 rounded">
		<div class="col-span-3">
			{% include "atoms/heading/h1.twig" with { title: post.title, class: 'h4' }%}
			{% include "atoms/p.twig" with { content: post.intro }%}
			<div class="flex gap-x-8 gap-y-4 flex-wrap">
				{% include "atoms/button.twig" %}
				<div class="flex items-center gap-4">
					{% for label in labels %}
						{% include "atoms/label.twig"
                with {
                  label: label.name,
                  icon: label.icon,
                  icon_color: 'text-[var(--primary-DEFAULT)]',
                  type: label.type
                }
            %}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="md:ml-auto md:mt-auto">
			{% include "atoms/button.twig" with { url: post.permalink, title: 'Meer Info' }%}
		</div>
	</article>
{% endif %}
