<section class="container">
	<div class="flex flex-col md:grid grid-cols-4 gap-4">
		<div class="col-span-3">
			{% include "atoms/heading/h4.twig" %}
			{% include "atoms/p.twig" %}
			<div class="flex gap-x-8 gap-y-4 flex-wrap">
				{% include "atoms/buttons.twig" %}
				<div class="flex gap-4">
					{% include "atoms/icon.twig" %}
					{% include "atoms/heading/h6.twig" %}
				</div>
			</div>
		</div>
		<div>
			{% include "atoms/buttons.twig" %}
		</div>
	</div>
</section>
