{{ get_header(header_name|default('')) }}

<div class="w-full relative overflow-hidden">
	{% include "atoms/image.twig"
      with {
        image_id: intro.image,
        image_classes: 'absolute inset-0 -z-[2] object-cover w-full h-full'
      }
  %}

	<div class="bg-black opacity-25 -z-[1] absolute inset-0"></div>

	<div class="container p-0 relative">
		{% include "organisms/breadcrumbs.twig" with { class_name: 'text-white absolute top-4' } %}

		<div class="py-[150px] max-w-[350px] md:max-w-full md:w-1/2">
			{% include 'organisms/content.twig'
          with {
            title: intro.title,
            content: intro.content,
            content_classes: 'text-white'
          }
      %}
		</div>

	</div>
</div>

<div class="container">
	<div class="flex flex-col lg:flex-row">
		<div class="w-full">

			<h4 class="p-10 my-8 bg-warning-2 border-2 border-warning rounded text-warning">Missing Component
				<p class="text-black mt-4 font-body text-[16px] mb-0">Search — Select filter: Category — Select filter: Location</p>
			</h4>

			<section class="flex flex-col gap-10 max-w-[926px] mx-auto">
				{% for post in posts %}
					{% include 'molecules/vacancy-card.twig' %}
				{% endfor %}

				<h4 class="p-10 bg-warning-2 border-2 border-warning rounded text-warning">Missing Component
					<p class="text-black mt-4 font-body text-[16px] mb-0">Laad meer</p>
				</h4>

				{% include "organisms/vacancy-cta.twig"
            with {
              title: vacancy_cta.title,
              content: vacancy_cta.content,
              buttons: vacancy_cta.buttons,
            }
        %}
			</section>

			{% include 'organisms/content.twig'
          with {
            title: footer.title,
            content: footer.content
          }
      %}
		</div>
	</div>
</div>

{{ get_footer(footer_name|default('')) }}
