{{ get_header(header_name|default('')) }}

<section class="container">
	{% include "organisms/breadcrumbs.twig"
      with {
        container: 'w-full',
        font_color: 'breadcrumbs-font',
      }
  %}

	{% include "organisms/single-vacancy-hero.twig" %}

	<section class="my-20">
		{% include "organisms/content.twig"
        with {
          container: 'w-full',
        }
    %}
	</section>
</section>

{{ get_footer(footer_name|default('')) }}
