<section id="{{ anchor }}" class="{{ class_name }}" style="{{ style|raw }}">
	<div class="{{ container|default('container') }}">
		{% include 'molecules/content.twig' with {text_white}%}
	</div>
</section>
