<section id="{{ anchor }}" class="{{ class_name }}" style="{{ style|raw }}">
    <div class="{{ container|default('container') }}">
        <div class="flex justify-end flex-wrap md:flex-nowrap gap-4 md:gap-6">

            <div class="w-full lg:w-9/12">
                {% include 'molecules/faq.twig' %}
            </div>
        </div>
    </div>
</section>
