<div class="section bg-supporting-5 pt-[84px] pb-10">
    <div class="container">
        <div class="relative flex flex-col w-full lg:flex-row lg:justify-between">
            {% if safety_index %}
               	<img src="{{safety_index|raw}}" alt="safety index" class="w-[52px] h-[52px] object-contain absolute top-0 left-0">
            {% endif %}

            <div class="w-full lg:w-5/12 lg:ml-1/12">
                {% if product_image %}
                    {% include "atoms/image.twig" with {image_id: product_image} %}
                {% endif %}      
            </div>

            <div class="w-full lg:w-5/12">

                <div class="flex flex-col-reverse">
                    {% include "atoms/heading/h1.twig" with {title, class: 'h3'} %}
                    
                    {% if article_number %}
                        <span> {{article_number|raw}} </span>
                    {% endif %}

                </div>
                
                {% if price %}
                    {% include "atoms/heading/h4.twig" with {title: price} %}
                {% endif %}

                {% include "molecules/keurmerken.twig" with {product_single: true} %}

                {% if bullet_points %}
                    <div class="mt-9">
                        {{bullet_points|raw}}
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>